.DS_Store
node_modules
/dist

# firebase cloud function services and firebase init
/src/firebase
firebase.json
.firebaserc
functions


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
